<a href="https://colab.research.google.com/github/KUDUPUDIMOUNIKA/DSA_Programmes/blob/master/pythonprogrammes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#finding maximum and minimum element in an array
list1=list(map(int,input().split()))
min_ele=list1[0]
max_ele=list1[0]
for i in list1:
  if i>max_ele:
    max_ele=i
  if i<min_ele:
    min_ele=i
print(min_ele,max_ele)

In [ ]:
#Reverse the array
list1=list(map(int,input("enter array elements:").split()))
rev_array=list1[::-1]
print(rev_array)

In [ ]:
#string reversal using indexing
string=input("enter string")
rev_string=string[::-1]
print(rev_string)

enter stringmouni
inuom

In [ ]:
"""Anagram
Anagram of a strig is an another string that contains same characters only in the order of characters can be different
Heart = Earth(Anagram string)"""
str1=input("enter string 1:")
str2=input("enter string 2:")
def Anagram():
    sorted_str1=sorted(str1)
    sorted_str2=sorted(str2)
    if sorted_str1==sorted_str2:
        print("Anagram")
    else:
        print("Not Anagram")
Anagram()

enter string 1heart
enter string 2earth
Anagram

In [ ]:
#string reversal using loop
def rev_string(string):
  reverse_string=""
  for i in string:
    reverse_string=i+reverse_string
  return reverse_string
input_string=input("enter string:")
rev_result=rev_string(input_string)
print(rev_result)

enter stringmouni
inuom

In [ ]:
#factorial 4!=4*3*2*1=24 using recursion
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)
n=int(input())
print(fact(n))

4
24

In [ ]:
#factorial using loop
def factorial(n):
  if n<0:
    return "factorial is undefined"
  elif n==0:
    return "factorial is 1"
  else:
    result=1
    for i in range(1,n+1):
      result=result*i
    return result
n=int(input("enter integer:"))
fact=factorial(n)
print(fact)

enter integer6
720

In [3]:
#prime number check
#prime number is always greater than 1
#it should have only two factors that is 1 and itself
#ex 1 , 2, 3, 5, 7...
def prime(num):
  count=0
  if num>1:
    for i in range(1,num+1):
      if(num%i)==0:
        count+=1
    if count==2:
      print("number is prime")
    else:
      print("number is not prime")

num=int(input("enter num:"))
prime(num)

enter num2
number is prime

In [ ]:
#character frequency code
from collections import Counter

def character_frequency_counter(text):
    return Counter(text)

# Example usage:
my_string = "banana"
frequencies = character_frequency_counter(my_string)
print(f"Character frequencies for '{my_string}':")
print(frequencies) # Counter objects have a nice string representation
print(f"Frequency of 'a': {frequencies['a']}")

Character frequencies for 'banana':
Counter({'a': 3, 'n': 2, 'b': 1})
Frequency of 'a': 3

In [ ]:
#find the odd or even number
def odd_even(num):
  if num%2==0:
    return "even number"
  else:
    return "odd number"
number=int(input())
print(odd_even(number))

4
even number

In [ ]:
#printing even or odd numbers in the given range
def seq_num(n):
  odd_num=[]
  even_num=[]
  for i in range(1,n):
    if i%2==0:
      even_num.append(i)
    else:
      odd_num.append(i)
  return odd_num,even_num
n=int(input())
odd_list, even_list = seq_num(n)
print("Odd numbers:", odd_list)
print("Even numbers:", even_list)

5
Odd numbers: [1, 3]
Even numbers: [2, 4]

In [ ]:
#linear search
def linear_search(arr):
    search_ele=int(input("enter searching element"))
    for i in range((len(n))):
        if arr[i]==search_ele:
          return f"element found at index:{i}"
n=list(map(int,input().split()))
print(linear_search(n))

4 5 6 7 3 8
enter searching element3
element found at index:4

In [ ]:
#Binary Search only works with lists in which the values are already sorted
pos=-1
def binary_search(list,n):
  lower_bound=0
  upper_bound=len(list)-1
  while (lower_bound<=upper_bound):
    mid=(lower_bound+upper_bound)//2
    if list[mid]==n:
      globals() ['pos']=mid
      return True
    else:
      if list[mid]<n:
        lower_bound=mid
      else:
        upper_bound=mid
list=[2,3,23,26,34,37,49,56]
n=49

if (binary_search(list,n)):
  print("element found at",pos+1)
else:
  print("element not found")

element found at 7

In [ ]:
#fibanocci numbers ex: 0 1 1 2 3 5 8 ...
def fib(n):
  a=0
  b=1
  if n==1:
      print(a)
  else:
    print(a)
    print(b)
  for i in range(2,n):
    c=a+b
    a=b
    b=c
    print(c)
n=int(input("enter the range of numbers:"))
fib(n)

enter the range of numbers5
0
1
1
2
3

In [ ]:
"""leap year is a year that is divisible by 4 except for century years that are ends with 00 ,
the century year is a leap year only if it is perfectly divisible by 400"""

year=int(input("enter the year:"))
if(year % 100 == 0 and year % 400 == 0):
  print("enter year {} is a leap year".format(year))
elif(year % 4==0 and year % 100 != 0):
    print("enter year {} is a leap year".format(year))
else:
    print("enter year {} is not a leap year".format(year))

enter the year2025
enter year 2025 is not a leap year